.root {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h3 {
  font-size: 2.0rem;
}

.conditions {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: .5rem;
}

.condition {
  display: flex;
  gap: 1rem;
  align-items: center;
  
}

.weather-condition-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.weather-value {
  font-weight: 600;
}