.main-container {
  display: flex;
  padding: 4rem;
  gap: 2rem;
}

.city-picker {
  flex-shrink: 0;
  width: 20rem;
}

@media screen and (max-width: 45em) {
  .main-container {
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }
}