apiVersion: apps/v1
kind: Deployment
metadata:
  name: travel-planner-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: travel-planner-frontend
      tier: frontend
  template:
    metadata:
      labels:
        app: travel-planner-frontend
        tier: frontend
    spec:
      containers:
      - name: travel-planner-frontend
        image: zendebudi/travel-planner-frontend
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80

---

apiVersion: v1
kind: Service
metadata:
  name: travel-planner-frontend-service
spec:
  type: LoadBalancer
  selector:
    app: travel-planner-frontend
    tier: frontend
  ports:
  - port: 80
    targetPort: 80
